{% extends 'tools/base.html'%}

<!--title-->
{% block title %}Django Ajax {% endblock %}

<!--content-->
{% block content %}
<p>请输入两个数字</p>
{% csrf_token %}
<form action="/add/" method="POST">
    <!--a: <input type="text" id="a" name="a"> <br>-->
    <!--b: <input type="text" id="b" name="b"> <br>-->
    {% for field in forms %}
    <div class='fieldWrapper' style="padding: 10px">
        {{field.label_tag}} {{field}}
        {{field.errors}}
    </div>
    {% endfor %}
    <p>result: <span id="result"></span></p>
    <button type="button" id="sum">提交</button>
</form>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#sum").click(function () {
            var a = $("#id_a").val();
            var b = $("#id_b").val();

            $.get("/add/", {'a': a, 'b': b}, function (ret) {
                $("#result").html(ret)
            })
        })
    })
</script>

{% endblock %}