{% extends 'fifth/base.html'%}

{% block title %} 燃烧的征程 {% endblock %}

{% block content %}<br>
域名路径：{% url 'fifth' %} <br><br>
views中传递的字符串：{{string}}<br><br>
views中传递的List:

{% for i in TutorialList %}
{{ i }}
{% endfor %}
<br><br>
{% for item in List %}
{{ item }}{% if not forloop.last%},{% endif %}
{% endfor%}
<br><br>

views中传递的字典：<br>
站点：{{info_dict.site}} 内容：{{info_dict.content}}
<br>
{% for key,value in info_dict.items %}
{{key}} : {{value}}
{% endfor %}
<br><br>

模板上得到视图对应的网址：<br>
{% url 'fifth' as fif %}
<a href="{{fif}}">链接到：</a>{{fif}}
<br><br>

模板中的逻辑操作：<br>
{% if var >= 90 %}
成绩优秀，自强学堂你没少去吧！学得不错
{% elif var >= 80 %}
成绩良好
{% elif var >= 70 %}
成绩一般
{% elif var >= 60 %}
需要努力
{% else %}
不及格啊，大哥！多去自强学堂学习啊！
{% endif %}
<br>

num:{{num}}<br>
{% if num <= 100 and num >= 0 %}
num在0到100之间
{% else %}
num不在[0-100]范围之内
{% endif %}
<br><br>

{% if 'ziqiangxuetang' in TutorialList %}
自强学堂在名单中
{% else %}
自强学堂不在名单内
{% endif %}
<br><br>

获取当前用户：
{{ request.user}}<br>

获取当前网址：
{{ request.path }}<br>

获取当前 GET 参数：<br>
{{ request.GET.urlencode }}

删除当前的页面内容：<br>
<a href="{{ request.path }}?{{ request.GET.urlencode }}&delete=1">当前网址加参数 delete</a>


<br><br>
{% endblock %}