<html lang="zh-CN">
<head>
<meta charset="gbk">
<title>帮助中心-京东</title>
<link media="all" href="/Public/css/base.css" type="text/css" rel="stylesheet">
<link href="/Public/css/helpcenter.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="/Public/css/ued.guang-min.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div id="shortcut-2013">
  <div class="w">
    <ul class="fl lh">
      <li class="fore1 ld"><b></b><a href="javascript:addToFavorite()" rel="nofollow">收藏京东</a></li>
    </ul>
    <ul class="fr lh">
      <li class="fore1" id="loginbar">您好！欢迎来到京东！<a href="javascript:login()">[登录]</a>&nbsp;<a href="javascript:regist()">[免费注册]</a></li>
      <li class="fore2 ld"> <s></s> <a href="http://order.jd.com/center/list.action" rel="nofollow">我的订单</a> </li>
      <li class="fore2-1 ld" id="jd-vip"> <i></i> <s></s> <a target="_blank" rel="nofollow" href="http://vip.jd.com">京东会员</a> </li>
      <li class="fore3 ld menu" id="app-jd" data-widget="dropdown"> <s></s><i></i><span class="outline"></span><span class="blank"></span> <a href="http://app.jd.com/" target="_blank">手机京东</a><b></b> </li>
      <li class="fore4 ld menu" id="biz-service" data-widget="dropdown"> <s></s> <span class="outline"></span> <span class="blank"></span> 客户服务 <b></b>
        <div class="dd">
          <div><a href="http://help.jd.com/index.html" target="_blank">帮助中心</a></div>
          <div><a href="http://myjd.jd.com/repair/orderlist.action" target="_blank" rel="nofollow">售后服务</a></div>
          <div><a href="http://chat.jd.com/jdchat/custom.action" target="_blank" rel="nofollow">在线客服</a></div>
          <div><a href="http://myjd.jd.com/opinion/orderList.action" target="_blank" rel="nofollow">意见建议</a></div>
          <div><a href="http://www.jd.com/contact/service.html" target="_blank">客服邮箱</a></div>
        </div>
      </li>
      <li class="fore5 ld menu" id="site-nav" data-widget="dropdown"> <s></s> <span class="outline"></span> <span class="blank"></span> 网站导航 <b></b>
        <div class="dd lh">
          <dl class="item fore1">
            <dt>特色栏目</dt>
            <dd>
              <div><a target="_blank" href="http://mobile.jd.com/index.do">京东通信</a></div>
              <div><a href="http://jdstar.jd.com/" target="_blank">校园之星</a></div>
              <div><a target="_blank" href="http://my.jd.com/personal/guess.html">为我推荐</a></div>
              <div><a target="_blank" href="http://shipingou.jd.com/">视频购物</a></div>
              <div><a target="_blank" href="http://club.jd.com/">京东社区</a></div>
              <div><a target="_blank" href="http://read.jd.com/">在线读书</a></div>
              <div><a target="_blank" href="http://diy.jd.com/">装机大师</a></div>
              <div><a target="_blank" href="http://giftcard.jd.com/market/index.action">京东E卡</a></div>
              <div><a target="_blank" href="http://channel.jd.com/jiazhuang.html">家装城</a></div>
              <div><a target="_blank" href="http://dapeigou.jd.com/">搭配购</a></div>
              <div><a target="_blank" href="http://xihuan.jd.com/">我喜欢</a></div>
            </dd>
          </dl>
          <dl class="item fore2">
            <dt>企业服务</dt>
            <dd>
              <div><a target="_blank" href="http://giftcard.jd.com/company/index">企业客户</a></div>
              <div><a target="_blank" href="http://sale.jd.com/p10997.html">办公直通车</a></div>
            </dd>
          </dl>
          <dl class="item fore3">
            <dt>旗下网站</dt>
            <dd>
              <div><a target="_blank" href="http://en.jd.com/">English Site</a></div>
            </dd>
          </dl>
        </div>
      </li>
    </ul>
    <span class="clr"></span> </div>
</div>
<!--shortcut end-->
<div id="o-header-2013">
  <div class="w" id="header-2013">
    <div id="logo-2013" class="ld"><a href="http://www.jd.com/" hidefocus="true"><b></b><img src="/Public/images/logo-201305-a.png" width="270" height="60" alt="京东商城"></a></div>
    <!--logo end-->
    <ul id="helpnav">
      <li id="nav-home" class="fore1"><a href="http://help.jd.com/user/index.html">首页</a></li>
      <li id="nav-question" class="fore2 curr curr"><a href="http://help.jd.com/user/issue.html">常见问题</a></li>
      <li id="nav-service" class="fore3"><a href="http://help.jd.com/user/service.html">自助服务</a></li>
      <li id="nav-custom" class="fore4"><a href="http://help.jd.com/user/custom.html">联系客服</a></li>
      <li id="nav-guide" class="fore5"><a href="http://help.jd.com/user/guide.html">新手指南</a></li>
    </ul>
  </div>
  <!--header end--> 
</div>
<div class="search-wrap">
  <div class="w">
    <form action="/issue/search">
      <div class="sch-box">
        <input type="hidden" value="5" name="siteId">
        <txt style="position: absolute; z-index: 2; line-height: 52px; margin-left: 13px; margin-top: 0px; font-size: 13.3333px; font-family: MS Shell Dlg \32 ; color: rgb(158, 158, 158); display: inline;">输入问题关键词，订单</txt>
        <input type="text" placeholder=" " value="" name="keyword" class="f-text">
        <input type="submit" value="搜索" class="btn-search">
      </div>
    </form>
  </div>
</div>
<div class="w main">
  <div class="subside-box">
    <div class="subside-in">
      <h3 class="h3-title">常见问题分类</h3>
      <dl class="subside-mod on">
        <dt class="title"> 购物指南 <b class="icon02"></b> </dt>
        <dd class="subside-cnt">
          <ul class="subside-list">
            <li data-parent-name="购物指南" data-parent-id="21" data-name="交易条款" data-id="28" class="list-item"> <a href="http://help.jd.com/user/issue/list-28.html">交易条款</a> </li>
            <li data-parent-name="购物指南" data-parent-id="21" data-name="购物流程" data-id="29" class="list-item current"> <a href="http://help.jd.com/user/issue/list-29.html">购物流程</a> </li>
            <li data-parent-name="购物指南" data-parent-id="21" data-name="促销咨询" data-id="30" class="list-item"> <a href="http://help.jd.com/user/issue/list-30.html">促销咨询</a> </li>
            <li data-parent-name="购物指南" data-parent-id="21" data-name="商品咨询" data-id="31" class="list-item"> <a href="http://help.jd.com/user/issue/list-31.html">商品咨询</a> </li>
            <li data-parent-name="购物指南" data-parent-id="21" data-name="生活旅行" data-id="297" class="list-item"> <a href="http://help.jd.com/user/issue/list-297.html">生活旅行</a> </li>
          </ul>
        </dd>
      </dl>
      <dl class="subside-mod">
        <dt class="title"> 订单百事通 <b class="icon02"></b> </dt>
        <dd class="subside-cnt">
          <ul class="subside-list">
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="订单查询" data-id="47" class="list-item"> <a href="http://help.jd.com/user/issue/list-47.html">订单查询</a> </li>
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="提交订单" data-id="48" class="list-item"> <a href="http://help.jd.com/user/issue/list-48.html">提交订单</a> </li>
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="修改订单" data-id="49" class="list-item"> <a href="http://help.jd.com/user/issue/list-49.html">修改订单</a> </li>
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="取消订单" data-id="50" class="list-item"> <a href="http://help.jd.com/user/issue/list-50.html">取消订单</a> </li>
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="订单锁定/解锁" data-id="52" class="list-item"> <a href="http://help.jd.com/user/issue/list-52.html">订单锁定/解锁</a> </li>
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="订单拆分" data-id="53" class="list-item"> <a href="http://help.jd.com/user/issue/list-53.html">订单拆分</a> </li>
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="订单异常" data-id="54" class="list-item"> <a href="http://help.jd.com/user/issue/list-54.html">订单异常</a> </li>
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="订单确认" data-id="267" class="list-item"> <a href="http://help.jd.com/user/issue/list-267.html">订单确认</a> </li>
            <li data-parent-name="订单百事通" data-parent-id="22" data-name="晒单评价" data-id="51" class="list-item"> <a href="http://help.jd.com/user/issue/list-51.html">晒单评价</a> </li>
          </ul>
        </dd>
      </dl>
      <dl class="subside-mod">
        <dt class="title"> 配送方式 <b class="icon02"></b> </dt>
        <dd class="subside-cnt">
          <ul class="subside-list">
            <li data-parent-name="配送方式" data-parent-id="23" data-name="发货与签收" data-id="80" class="list-item"> <a href="http://help.jd.com/user/issue/list-80.html">发货与签收</a> </li>
            <li data-parent-name="配送方式" data-parent-id="23" data-name="京东配送服务说明" data-id="81" class="list-item"> <a href="http://help.jd.com/user/issue/list-81.html">京东配送服务说明</a> </li>
            <li data-parent-name="配送方式" data-parent-id="23" data-name="商家配送服务说明" data-id="86" class="list-item"> <a href="http://help.jd.com/user/issue/list-86.html">商家配送服务说明</a> </li>
            <li data-parent-name="配送方式" data-parent-id="23" data-name="第三方配送" data-id="310" class="list-item"> <a href="http://help.jd.com/user/issue/list-310.html">第三方配送</a> </li>
            <li data-parent-name="配送方式" data-parent-id="23" data-name="配送运费收取说明" data-id="85" class="list-item"> <a href="http://help.jd.com/user/issue/list-85.html">配送运费收取说明</a> </li>
            <li data-parent-name="配送方式" data-parent-id="23" data-name="配送服务查询" data-id="82" class="list-item"> <a href="http://help.jd.com/user/issue/list-82.html">配送服务查询</a> </li>
            <li data-parent-name="配送方式" data-parent-id="23" data-name="配送时效" data-id="83" class="list-item"> <a href="http://help.jd.com/user/issue/list-83.html">配送时效</a> </li>
            <li data-parent-name="配送方式" data-parent-id="23" data-name="配送异常" data-id="84" class="list-item"> <a href="http://help.jd.com/user/issue/list-84.html">配送异常</a> </li>
          </ul>
        </dd>
      </dl>
      <dl class="subside-mod">
        <dt class="title"> 支付及发票 <b class="icon02"></b> </dt>
        <dd class="subside-cnt">
          <ul class="subside-list">
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="支付流程" data-id="171" class="list-item"> <a href="http://help.jd.com/user/issue/list-171.html">支付流程</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="货到付款" data-id="172" class="list-item"> <a href="http://help.jd.com/user/issue/list-172.html">货到付款</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="在线支付" data-id="173" class="list-item"> <a href="http://help.jd.com/user/issue/list-173.html">在线支付</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="邮局汇款" data-id="174" class="list-item"> <a href="http://help.jd.com/user/issue/list-174.html">邮局汇款</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="公司转账" data-id="175" class="list-item"> <a href="http://help.jd.com/user/issue/list-175.html">公司转账</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="分期付款" data-id="176" class="list-item"> <a href="http://help.jd.com/user/issue/list-176.html">分期付款</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="京东白条" data-id="177" class="list-item"> <a href="http://help.jd.com/user/issue/list-177.html">京东白条</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="支票支付" data-id="178" class="list-item"> <a href="http://help.jd.com/user/issue/list-178.html">支票支付</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="扫码支付" data-id="179" class="list-item"> <a href="http://help.jd.com/user/issue/list-179.html">扫码支付</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="和包支付" data-id="180" class="list-item"> <a href="http://help.jd.com/user/issue/list-180.html">和包支付</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="异常情况" data-id="181" class="list-item"> <a href="http://help.jd.com/user/issue/list-181.html">异常情况</a> </li>
            <li data-parent-name="支付及发票" data-parent-id="27" data-name="发票问题" data-id="182" class="list-item"> <a href="http://help.jd.com/user/issue/list-182.html">发票问题</a> </li>
          </ul>
        </dd>
      </dl>
      <dl class="subside-mod">
        <dt class="title"> 售后服务 <b class="icon02"></b> </dt>
        <dd class="subside-cnt">
          <ul class="subside-list">
            <li data-parent-name="售后服务" data-parent-id="24" data-name="查询售后政策" data-id="320" class="list-item"> <a href="http://help.jd.com/user/issue/list-320.html">查询售后政策</a> </li>
            <li data-parent-name="售后服务" data-parent-id="24" data-name="售后政策（自营）" data-id="112" class="list-item"> <a href="http://help.jd.com/user/issue/list-112.html">售后政策（自营）</a> </li>
            <li data-parent-name="售后服务" data-parent-id="24" data-name="售后政策（三方）" data-id="117" class="list-item"> <a href="http://help.jd.com/user/issue/list-117.html">售后政策（三方）</a> </li>
            <li data-parent-name="售后服务" data-parent-id="24" data-name="退换货/返修申请" data-id="113" class="list-item"> <a href="http://help.jd.com/user/issue/list-113.html">退换货/返修申请</a> </li>
            <li data-parent-name="售后服务" data-parent-id="24" data-name="售后服务单查询与修改" data-id="114" class="list-item"> <a href="http://help.jd.com/user/issue/list-114.html">售后服务单查询与修改</a> </li>
            <li data-parent-name="售后服务" data-parent-id="24" data-name="售后商品返回" data-id="115" class="list-item"> <a href="http://help.jd.com/user/issue/list-115.html">售后商品返回</a> </li>
            <li data-parent-name="售后服务" data-parent-id="24" data-name="售后退款说明" data-id="116" class="list-item"> <a href="http://help.jd.com/user/issue/list-116.html">售后退款说明</a> </li>
            <li data-parent-name="售后服务" data-parent-id="24" data-name="售后到家查询" data-id="318" class="list-item"> <a href="http://help.jd.com/user/issue/list-318.html">售后到家查询</a> </li>
          </ul>
        </dd>
      </dl>
      <dl class="subside-mod">
        <dt class="title"> 账户及会员 <b class="icon02"></b> </dt>
        <dd class="subside-cnt">
          <ul class="subside-list">
            <li data-parent-name="账户及会员" data-parent-id="26" data-name="账户安全与账户信息" data-id="149" class="list-item"> <a href="http://help.jd.com/user/issue/list-149.html">账户安全与账户信息</a> </li>
            <li data-parent-name="账户及会员" data-parent-id="26" data-name="账户资产" data-id="150" class="list-item"> <a href="http://help.jd.com/user/issue/list-150.html">账户资产</a> </li>
            <li data-parent-name="账户及会员" data-parent-id="26" data-name="会员介绍" data-id="151" class="list-item"> <a href="http://help.jd.com/user/issue/list-151.html">会员介绍</a> </li>
            <li data-parent-name="账户及会员" data-parent-id="26" data-name="会员级别" data-id="152" class="list-item"> <a href="http://help.jd.com/user/issue/list-152.html">会员级别</a> </li>
          </ul>
        </dd>
      </dl>
      <dl class="subside-mod">
        <dt class="title"> 特色服务 <b class="icon02"></b> </dt>
        <dd class="subside-cnt">
          <ul class="subside-list">
            <li data-parent-name="特色服务" data-parent-id="25" data-name="全球购" data-id="356" class="list-item"> <a href="http://help.jd.com/user/issue/list-356.html">全球购</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="JIMI智能客服机器人" data-id="315" class="list-item"> <a href="http://help.jd.com/user/issue/list-315.html">JIMI智能客服机器人</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="礼品购" data-id="335" class="list-item"> <a href="http://help.jd.com/user/issue/list-335.html">礼品购</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="价格保护" data-id="132" class="list-item"> <a href="http://help.jd.com/user/issue/list-132.html">价格保护</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="夺宝岛" data-id="133" class="list-item"> <a href="http://help.jd.com/user/issue/list-133.html">夺宝岛</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="DIY装机" data-id="134" class="list-item"> <a href="http://help.jd.com/user/issue/list-134.html">DIY装机</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="京东卡/京东E卡" data-id="135" class="list-item"> <a href="http://help.jd.com/user/issue/list-135.html">京东卡/京东E卡</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="大家电" data-id="136" class="list-item"> <a href="http://help.jd.com/user/issue/list-136.html">大家电</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="合约计划" data-id="138" class="list-item"> <a href="http://help.jd.com/user/issue/list-138.html">合约计划</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="售后到家" data-id="139" class="list-item"> <a href="http://help.jd.com/user/issue/list-139.html">售后到家</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="电器管家" data-id="140" class="list-item"> <a href="http://help.jd.com/user/issue/list-140.html">电器管家</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="延保通" data-id="141" class="list-item"> <a href="http://help.jd.com/user/issue/list-141.html">延保通</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="定期送" data-id="142" class="list-item"> <a href="http://help.jd.com/user/issue/list-142.html">定期送</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="二手图书" data-id="143" class="list-item"> <a href="http://help.jd.com/user/issue/list-143.html">二手图书</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="意外保护" data-id="144" class="list-item"> <a href="http://help.jd.com/user/issue/list-144.html">意外保护</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="远程服务" data-id="145" class="list-item"> <a href="http://help.jd.com/user/issue/list-145.html">远程服务</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="苹果原厂屏碎服务" data-id="146" class="list-item"> <a href="http://help.jd.com/user/issue/list-146.html">苹果原厂屏碎服务</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="上门服务" data-id="147" class="list-item"> <a href="http://help.jd.com/user/issue/list-147.html">上门服务</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="轻松购" data-id="148" class="list-item"> <a href="http://help.jd.com/user/issue/list-148.html">轻松购</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="联系客服" data-id="269" class="list-item"> <a href="http://help.jd.com/user/issue/list-269.html">联系客服</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="知识产权维权" data-id="342" class="list-item"> <a href="http://help.jd.com/user/issue/list-342.html">知识产权维权</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="京东试用中心" data-id="354" class="list-item"> <a href="http://help.jd.com/user/issue/list-354.html">京东试用中心</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="拍卖业务" data-id="358" class="list-item"> <a href="http://help.jd.com/user/issue/list-358.html">拍卖业务</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="京东图书卡" data-id="383" class="list-item"> <a href="http://help.jd.com/user/issue/list-383.html">京东图书卡</a> </li>
            <li data-parent-name="特色服务" data-parent-id="25" data-name="品质险" data-id="385" class="list-item"> <a href="http://help.jd.com/user/issue/list-385.html">品质险</a> </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
  <div class="content">
    <div class="breadcrumb"> <span id="sLevel1">购物指南</span> &gt; <a href="http://help.jd.com/user/issue/list-29.html"><span id="sLevel2">购物流程</span></a> &gt; <a href="http://help.jd.com/user/issue/list-29-34.html">下单流程</a> </div>
    <div class="contxt">
      <div class="help-tit1 flk06">可以拨打客服热线订购商品吗？</div>
      <p><span style="font-family: 宋体, SimSun; font-size: 12px;">京东暂不提供电话订购服务，请您登陆<a href="http://www.jd.com" target="_blank">京东</a>注册后自助下单。</span></p>
      <p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;">若您不会自助下单，请点击查看</span><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px; text-decoration: none;"><a href="http://help.jd.com/user/issue/34-18.html" target="_blank" title="如何购买下单？" textvalue="如何购买下单？">如何购买下单？</a></span></p>
      <p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px;">若您还没有京东账号，请点</span></span><span style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px;">击<a href="https://reg.jd.com/reg/person?ReturnUrl=http%3A%2F%2Fwww.jd.com" target="_blank">注册</a></span><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px;">，</span><span style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px; text-decoration: none;">详细操作步骤</span><span style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px;">如下：</span></span></p>
      <p><img width="750" src="/Public/images/r1.png" alt=""><a class="r1" href="#r2"></a></p>
      <p><img width="750" src="/Public/images/r2.png" alt=""><a class="r2" href="#r1"></a><a class="r3" href="#r3"></a></p>
      <p><img width="750" src="/Public/images/r3.png" alt=""><a class="r4" href="#r2"></a><a class="r5" href="#r1"></a></p>
      <!--main-part end-->
      <p><br>
      </p>
    </div>
  </div>
</div>
<div class="he-footer">
  <div class="w">
    <div id="service-2013">
      <dl class="fore1">
        <dt><b></b><strong>购物指南</strong></dt>
        <dd>
          <div><a href="http://help.jd.com/user/issue/list-29.html" target="_blank" rel="nofollow">购物流程</a></div>
          <div><a href="http://help.jd.com/user/issue/list-151.html" target="_blank" rel="nofollow">会员介绍</a></div>
          <div><a href="http://help.jd.com/user/issue/list-297.html" target="_blank" rel="nofollow">生活旅行/团购</a></div>
          <div><a href="http://help.jd.com/user/issue.html" target="_blank" rel="nofollow">常见问题</a></div>
          <div><a href="http://help.jd.com/user/issue/list-136.html" target="_blank" rel="nofollow">大家电</a></div>
          <div><a href="http://help.jd.com/user/index.html" target="_blank" rel="nofollow">联系客服</a></div>
        </dd>
      </dl>
      <dl class="fore2">
        <dt><b></b><strong>配送方式</strong></dt>
        <dd>
          <div><a href="http://help.jd.com/user/issue/list-81-100.html" target="_blank" rel="nofollow">上门自提</a></div>
          <div><a href="http://help.jd.com/user/issue/list-81.html" target="_blank" rel="nofollow">211限时达</a></div>
          <div><a href="http://help.jd.com/user/issue/103-983.html" target="_blank" rel="nofollow">配送服务查询</a></div>
          <div><a href="http://help.jd.com/user/issue/109-188.html" target="_blank" rel="nofollow">配送费收取标准</a></div>
          <div><a href="http://en.jd.com/chinese.html" target="_blank">海外配送</a></div>
        </dd>
      </dl>
      <dl class="fore3">
        <dt><b></b><strong>支付方式</strong></dt>
        <dd>
          <div><a href="http://help.jd.com/user/issue/list-172.html" target="_blank" rel="nofollow">货到付款</a></div>
          <div><a href="http://help.jd.com/user/issue/list-173.html" target="_blank" rel="nofollow">在线支付</a></div>
          <div><a href="http://help.jd.com/user/issue/list-176.html" target="_blank" rel="nofollow">分期付款</a></div>
          <div><a href="http://help.jd.com/user/issue/list-174.html" target="_blank" rel="nofollow">邮局汇款</a></div>
          <div><a href="http://help.jd.com/user/issue/list-175.html" target="_blank" rel="nofollow">公司转账</a></div>
        </dd>
      </dl>
      <dl class="fore4">
        <dt><b></b><strong>售后服务</strong></dt>
        <dd>
          <div><a href="http://help.jd.com/user/issue/321-981.html" target="_blank" rel="nofollow">售后政策</a></div>
          <div><a href="http://help.jd.com/user/issue/list-132.html" target="_blank" rel="nofollow">价格保护</a></div>
          <div><a href="http://help.jd.com/user/issue/130-978.html" target="_blank" rel="nofollow">退款说明</a></div>
          <div><a href="http://myjd.jd.com/repair/repairs.action" target="_blank" rel="nofollow">返修/退换货</a></div>
          <div><a href="http://help.jd.com/user/issue/list-50.html" target="_blank" rel="nofollow">取消订单</a></div>
        </dd>
      </dl>
      <dl class="fore5">
        <dt><b></b><strong>特色服务</strong></dt>
        <dd>
          <div><a href="http://help.jd.com/user/issue/list-133.html" target="_blank">夺宝岛</a></div>
          <div><a href="http://help.jd.com/user/issue/list-134.html" target="_blank">DIY装机</a></div>
          <div><a href="http://fuwu.jd.com/" target="_blank" rel="nofollow">延保服务</a></div>
          <div><a href="http://giftcard.jd.com/market/index.action" target="_blank" rel="nofollow">京东E卡</a></div>
          <div><a href="http://mobile.jd.com/" target="_blank" rel="nofollow">京东通信</a></div>
        </dd>
      </dl>
      <span class="clr"></span> </div>
  </div>
  <!-- service end -->
  <div class="w">
    <div id="footer-2013">
      <div class="links"><a href="http://www.jd.com/intro/about.aspx" target="_blank" rel="nofollow">关于我们</a>|<a href="http://www.jd.com/contact/" target="_blank" rel="nofollow">联系我们</a>|<a href="http://www.jd.com/contact/joinin.aspx" target="_blank" rel="nofollow">商家入驻</a>|<a href="http://jzt.jd.com" target="_blank" rel="nofollow">营销中心</a>|<a href="http://app.jd.com/" target="_blank" rel="nofollow">手机京东</a>|<a href="http://club.jd.com/links.aspx" target="_blank">友情链接</a>|<a href="http://media.jd.com/" target="_blank">销售联盟</a>|<a target="_blank" href="http://club.jd.com/">京东社区</a>|<a target="_blank" href="http://gongyi.jd.com">京东公益</a></div>
      <div class="copyright">北京市公安局朝阳分局备案编号110105014669&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://img14.360buyimg.com/da/jfs/t256/349/769670066/270505/3b03e0bb/53f16c24N7c04d9e9.jpg" target="_blank">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><br>
        <a target="_blank" href="http://misc.360buyimg.com/skin/df/i/com/f_music.jpg" rel="nofollow">音像制品经营许可证苏宿批005号</a>&nbsp;&nbsp;|&nbsp;&nbsp;出版物经营许可证编号新出发(苏)批字第N-012号&nbsp;&nbsp;|&nbsp;&nbsp;互联网出版许可证编号新出网证(京)字150号<br>
        <a target="_blank" href="http://misc.360buyimg.com/wz/wlwhjyxkz.jpg">网络文化经营许可证京网文[2014]2148-348号</a>&nbsp;&nbsp;文明办网文明上网举报电话：4006561155&nbsp;&nbsp;Copyright&nbsp;&copy;&nbsp;2004-2015&nbsp;&nbsp;京东JD.com&nbsp;版权所有<br>
        京东旗下网站：<a target="_blank" href="http://en.jd.com/">English Site</a></div>
      <div class="authentication">
      <a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026" target="_blank" rel="nofollow">
	      <img src="/Public/images/108_40_zZOKnl.gif" width="108" height="40" alt="经营性网站备案中心">
      </a>	  
      <a rel="nofollow" target="_blank" id="urlknet" tabindex="-1" href="https://ss.knet.cn/verifyseal.dll?sn=2008070300100000031&amp;ct=df&amp;pa=294005">
    	  <img width="108" border="true" height="40" onClick="CNNIC_change('urlknet')" oncontextmenu="return false;" src="/Public/images/rBEHaFCFC5QIAAAAAAASVQX9RAYAACb2wHUV1kAABJt760.gif" name="CNNIC_seal" alt="可信网站">
      </a>
      <a href="http://www.bj.cyberpolice.cn/index.do" target="_blank" rel="nofollow">
	      <img src="/Public/images/rBEIDE_nzcIIAAAAAAB30mYXo5QAACrhACj22IAAHfq378.png" width="108" height="40" alt="朝阳网络警察">
      </a>
      <a href="https://search.szfw.org/cert/l/CX20120111001803001836" target="_blank" rel="nofollow">
    	  <img src="/Public/images/112_40_WvArIl.png" width="112" height="40">
      </a>
      </div>
    </div>
  </div>
  <!-- footer end --> 
</div>
</body>
</html>